 <div class="col-sm-3">
     <div class="ordersummary">
     <h3 class="ordersummaryheader">Order Summary</h3>
     <table class="summarytable">
    
    <tbody>
       

        <tr class="summaryrow">
            <td class="summarytitlerow">SUBTOTAL</td>
            <td class="summarynumberrow">€{{total}}</td>
        </tr>
         <tr class="summaryrow">
            <td class="summarytitlerow">SHIPPING</td>
            <td class="summarynumberrow">€0.00</td>
        </tr>
         <tr class="summaryrow">
            <td class="summarytitlerow">TAX</td>
            <td class="summarynumberrow">€0.00</td>
        </tr>
         <tr class="summaryrow">
            <td class="summarytitlerow"><strong>TOTAL</strong></td>
            <td class="summarynumberrow"><strong>€{{total}}</strong></td>
        </tr>
    </tbody>
</table>
<div class="summarycheckoutbutton">
  <a href="{% url 'checkout' %}"class="addcartbutton"><div class="addcartbuttondiv ">CHECKOUT</div></a>
  
  </div>
  <div class="hrdiv">
   <hr>
   </div>
   <h3 class="ordersummaryheader">Coupon</h3>
   <div class="coupondiv">
   <form action="{% url 'apply_coupon' %}" method="post">
        
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="code" class="couponinput"/>
          <button type="submit" value="Submit"class="couponbutton">APPLY</button>
        </div>
</form>
</div>
     </div>
     
 </div>