<div class="row">
 <div class="col-sm-6">
<div class="cartpagetitle">
<h1>Cart</h1>
</div>
<table class="table">
    <thead>
        <tr class="tableheader">
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr class="tablerow">
            <td><img width="150" height="75" src="{{MEDIA_URL}}{{item.image}}"/></td>    
            <td>{{ item.name }}</td>    
            <td><form method="post" action="{% url 'update_quantity' item.product_id %}">
                {% csrf_token %}
                <input type="number" value="{{item.quantity}}" id="quantity" name="quantity" min="1" required/>
               
               <button type="submit" value="Submit"class="updatebutton">UPDATE</button>
              
                </form></td>    
            <td>€{{ item.price }}</td>
            <td>€{{ item.total}}</td>
            <td><form method="post" action="{% url 'remove_from_cart' item.product_id %}">
                {% csrf_token %}
                <button type="submit" value="Submit"class="updatebutton">REMOVE</button>
                </form>
            </td>
        </tr>
        {% endfor %}

      
    </tbody>
</table>
</div>
 {% include 'cart/_order_summary.html' %}
</div>   