{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     {% block styles %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'home/style.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Damion|Montserrat|Sacramento|Source+Sans+Pro" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Do+Hyeon" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

     {% endblock styles %}
     {% block head_js %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
     {% endblock head_js %}
</head>
<body>
    <div class="navbar-fixed-top">
  <nav class="navbar navbar-default" id="nav1">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav navbar-left" id="ul1">
      <li ><a href="#">10% OFF ENTER COUPON SUMMER1!!!!!</a></li>
     
      </ul>
      
    <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"> PROFILE</a></li>
                    <li><span>|</span></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> LOGOUT</a></li>
                    
                       
                       
                   
                    {% else %}
                    <li><a href="{% url 'register' %}">REGISTER</a></li>
                     <li><span>|</span></li>
                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> LOGIN</a></li>
                    {% endif %}
                   
                   
                   
                </ul>
  </div><!-- /.container-fluid -->
</nav>     
  <nav class="navbar navbar-default" id="nav3">
  <div class="container-fluid ">
    <!-- Brand and toggle get grouped for better mobile display -->
    
     
      <a class="navbar-brand" href="{% url 'home' %}">NotePaper</a>
    

  </div><!-- /.container-fluid -->
</nav> 
  <nav class="navbar navbar-default" id="nav2">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id=collapsing2>
      <ul class="nav navbar-nav">
          
        <li><a href='/products/products_list/?filter=PEN&order=created_date' class="categories">PENS </a></li>
        <li><a href='/products/products_list/?filter=PENCIL&order=created_date'  class="categories">PENCILS</a></li>
        <li><a href='/products/products_list/?filter=PAPER&order=created_date'  class="categories">PAPER</a></li>
        
    
      </ul>
   
      <ul class="nav navbar-nav navbar-right">
         <form action={% url 'search' %} class="navbar-form navbar-nav">
                <input class="form-control searchbox" type="text" placeholder="Search" name="query" />
                <div class="form-group">
                <input type="hidden" name="match" value="contains" checked> <br>
                </div>
               
                
               
            </form>
        <li><a href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i>({{ quantsum }})
        </a></li>
        <li><a href="{% url 'view_wishlist' %}"><i class="far fa-heart"></i></a></li>
         </ul>
        <ul class="nav navbar-nav navbar-right" id="altcollapse">
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="">Wishlist</a></li>
       
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
</div>
{% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
<div class="pageshift">
  
</div>
 {% block content %} {% endblock %}
  
</body>
</html>