{% extends 'home/base.html' %}
{% block content %}

<div class='row'>
  <div class="col-md-4 headerimage">
    <img src="/media/images/homepage1.jpg" class="img-responsive homeimage homeimage1"></img>
  </div>
  <div class="col-md-4 headertext">
   <p class="headerline1">Just in</p>
   <h3 class="headerline2">New Arrivals</h3>
  <div class="headerline3case"><div type="button" class="headerline3">Shop Now!</div></div>
  </div>
   <div class="col-md-4 headerimage">
    <img src="/media/images/homepage2.jpg" class="img-responsive homeimage homeimage2"></img>
  </div>
   <div class="container-fluid">
  <div class='row'>
  <div class="col-md-12 newarrivals">
  
  <h1>NEW ARRIVALS</h1>
  
  </div>
 <!--<div class="row">-->
    
 <!--   <div class="col-md-9 col-md-offset-2">-->
    
 <!--         <div class="row">-->
 <!--         {% for items in new_arrivals %}-->
            
 <!--       <div class="product col-sm-3">-->
 <!--            <div>-->
 <!--      {% if items.image %}-->
 <!--    <img src="{{MEDIA_URL}}{{items.image}}" class="img-responsive"></img>-->
 <!--{% endif %}-->
      
 <!--   </div>-->
 <!--   <div>-->
 <!--       <h3 class="cart_name"> {{ items.name }}</h3>-->
 <!--       <p class="cart_price"> {{ items.price }} </p>-->
        
        
 <!--       <button type="button" class="cart_button">Add to Cart</button>-->
 
        
 <!--     </div>-->
 <!--       </div>-->
 <!--        {% if forloop.counter|divisibleby:4 %}-->
 <!--       </div><div class="row">-->
 <!--       {% endif %}-->
 <!--       {% endfor %} -->
 <!--       <div class="row">-->
 <!--    </div>-->
 <!--   </div>-->
   
 <!-- </div>-->
 <!-- </div>-->
  
{% endblock %}

 