{% extends 'home/base.html' %}
{% block content %}

<div class='row'>
  
  <div class="col-md-12 headertext">
   <p class="headerline1">Just in</p>
   <h3 class="headerline2">New Arrivals</h3>
  <div class="headerline3case"><div type="button" class="headerline3">Shop Now!</div></div>
  </div>
   </div>
   <div class="row indexitems">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/media/images/pens_indexpage.jpg" alt="colourful pens">
      <div class="caption">
        <h3><a href='/products/products_list/?filter=PEN&order=created_date' class="categories">Pens</a></h3>
        
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/media/images/pencils_indexpage.jpg" alt="colourful pencils">
      <div class="caption">
        <h3><a href='/products/products_list/?filter=PENCIL&order=created_date'  class="categories">Pencils</a></h3>
        
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/media/images/paper_indexpage.jpg" alt="Colourful Notebooks">
      <div class="caption">
        <h3><a href='/products/products_list/?filter=PAPER&order=created_date'  class="categories">Paper</a></h3>
        
      </div>
    </div>
  </div>
</div>


  
  
  
{% endblock %}

 