Django==1.11
Pillow==5.0.0
boto==2.48.0
boto3==1.6.9
botocore==1.9.11
coverage==4.5.1
dj-database-url==0.5.0
django-forms-bootstrap==3.1.0
django-model-utils==3.1.1
django-sendgrid-v5==0.6.88
django-storages==1.6.5
docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
psycopg2==2.7.4
python-dateutil==2.6.1
python-http-client==3.0.0
pytz==2018.3
s3transfer==0.1.13
sendgrid==5.3.0
sqlparse==0.2.4
stripe==1.79.1
