{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}

  <div class="row" id="createpost">
      <div class="col-md-6 col-md-offset-3">
      <h1>Reset Your Password</h1>
    </div>
  </div>
  <div class="row panel panel-default" >
      <div class="col-md-6 col-md-offset-3 panel-body">
      <form role="form" method="post">
      <p>Please specify your email address to receive instructions for resetting it.</p>
      {% csrf_token %}
        {{ form.email.errors }}
    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
         <span><a href={% url 'home' %}> Return to Homepage</a></span>
    </div>
  </div>

{% endblock  %}



