{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
{{ block.super }}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'checkout/stripe.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="row">
      <div class="col-sm-6 checkoutformdiv">
         <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}" id="checkoutform">
        
    <legend class="checkoutlegend">Payment Details</legend>

    <div id="credit-card-errors" style="display:none">
      <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="form-group col-md-6">
        {{ order_form|as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form|as_bootstrap }}
    </div>

    {% csrf_token %}
    

    </form>
      </div>
     <div class="col-sm-3">
     <div class="ordersummary">
     <h3 class="ordersummaryheader">Order Summary</h3>
     <table class="summarytable">
    
    <tbody>
       

        <tr class="summaryrow">
            <td class="summarytitlerow">SUBTOTAL</td>
            <td class="summarynumberrow">€{{total}}</td>
        </tr>
         <tr class="summaryrow">
            <td class="summarytitlerow">SHIPPING</td>
            <td class="summarynumberrow">€0.00</td>
        </tr>
         <tr class="summaryrow">
            <td class="summarytitlerow">TAX</td>
            <td class="summarynumberrow">€0.00</td>
        </tr>
         <tr class="summaryrow">
            <td class="summarytitlerow"><strong>TOTAL</strong></td>
            <td class="summarynumberrow"><strong>€{{total}}</strong></td>
        </tr>
    </tbody>
</table>
<div class="summarycheckoutbutton">
               <button type="submit" value="Submit"class="addcartbutton" form="checkoutform" name="commit"><div class="addcartbuttondiv">SUBMIT PAYMENT</div></button>
               </div>
  <div class="hrdiv">
   <hr>
   </div>
   <h3 class="ordersummaryheader">Coupon</h3>
   <div class="coupondiv">
   <form action="{% url 'apply_coupon' %}" method="post">
        
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="code" class="couponinput"/>
          <button type="submit" value="Submit"class="couponbutton">APPLY</button>
        </div>
</form>
</div>
     </div>
     
 </div>
    </div>
   
{% endblock %}
