{% extends 'home/base.html' %}
{% block content %}
 <div class="container-fluid">
   <div class="row">
       <div class="col-md-6 col-md-offset-2 itemtitle">
           {% if item_type == "PEN" or item_type == "PENCIL" %}
           <h1>{{ item_type }}S</h1>
           {% else %}
           <h1>{{ item_type }}</h1>
            {% endif %}
           
           
         </div>
         </div>
         
         <div class="row">
    <div id="filter" class="col-md-9 col-md-offset-2">
        <p>Order By:<span class="filters"><a href={{ request.get_full_path }}&order=-price> Price↓</a></span><span class="filters">|</span><span class="filters"><a href='{{ request.get_full_path }}&order=price'> Price↑</a></span><span class="filters">|</span><span class="filters"><a href='{{ request.get_full_path }}&order=created_date'>Newest</a></span></p><p class="productcount">{{product_count}} Results</p>
        </div>
        </div>
         
    
 <div class="row">
    
    <div class="col-md-9 col-md-offset-2">
    
          <div class="row">
          {% for items in products %}
            
        <div class="product col-sm-3">
             <div class="imagecontainer">
       {% if items.image %}
     <img src="{{MEDIA_URL}}{{items.image}}" class="img-responsive itemimage"></img>
     
 {% endif %}
       
        
    </div>
    <div class="row">
     
        
  
   <div class="col-sm-3 pricenameitem">         
  <h3 class="cart_name"> {{ items.name }}</h3>
        <p class="cart_price"> {{ items.price }} </p>
       </div>
       <div class="col-sm-6 heartitem">         
  <i class="far fa-heart"></i>
       </div>
      </div>
      
       <a href="#" class="addcartbutton"><div class="addcartbuttondiv">ADD TO CART</div></a>
       
        </div>
         {% if forloop.counter|divisibleby:4 %}
        </div><div class="row">
        {% endif %}
        {% endfor %} 
     </div>
    </div>
   
  </div>
  </div>
  
{% endblock %}
