{% extends 'home/base.html' %}
{% block content %}
 <div class="container-fluid">
   <div class="row">
       <div class="col-md-6 col-md-offset-2">
           {% if item_type == "PEN" or item_type == "PENCIL" %}
           <h1>{{ item_type }}S</h1>
           {% else %}
           <h1>{{ item_type }}</h1>
            {% endif %}
           
           
         </div>
         </div>
         
         <div class="row">
    <div id="filter" class="col-md-9 col-md-offset-2">
        <p>Order By:<span class="filters"><a href={{ request.get_full_path }}&order=-price> Price↓</a></span><span class="filters">|</span><span class="filters"><a href='{{ request.get_full_path }}&order=price'> Price↑</a></span><span class="filters">|</span><span class="filters"><a href='{{ request.get_full_path }}&order=created_date'>Newest</a></span></p><p class="productcount">{{product_count}} Results</p>
        </div>
        </div>
         
    
 <div class="row">
    
    <div class="col-md-9 col-md-offset-2">
    
          <div class="row">
          {% for items in products %}
            
        <div class="product col-sm-3">
             <div>
       {% if items.image %}
     <img src="{{MEDIA_URL}}{{items.image}}" class="img-responsive"></img>
 {% endif %}
      
    </div>
    <div>
        <h3 class="cart_name"> {{ items.name }}</h3>
        <p class="cart_price"> {{ items.price }} </p>
        
        
        <button type="button" class="cart_button">Add to Cart</button>
 
        
      </div>
        </div>
         {% if forloop.counter|divisibleby:4 %}
        </div><div class="row">
        {% endif %}
        {% endfor %} 
     </div>
    </div>
   
  </div>
  </div>
  
{% endblock %}
