{% extends 'home/base.html' %}
{% block content %}
 <div class="container-fluid">
   <div class="row">
       <div class="col-md-6 col-md-offset-2">
           
           <h1>{{ item_type }}</h1>
           
           <p>20 results</p>
         </div>
         </div>
         <div class="row">
    <div id="filter" class="col-md-9 col-md-offset-2">
        <p>Order By:<a href='{% url order_high_low %}'>Price↓</a>|<a href='{% url order_low_high %}'>Price↑</a>|<a href='{% url order_newest_latest %}'>Newest</a></p>
        </div>
        </div>
         
    
 <div class="row">
    
    <div class="col-md-9 col-md-offset-2">
    
          <div class="row">
          {% for items in products %}
            
        <div class="product col-sm-3">
             <div>
       
      
    </div>
    <div>
        <h3> {{ items.name }}</h3>
        <p> {{ items.price }} </p>
        
        
        <p>Add to Cart</p>
        
      </div>
        </div>
         {% if forloop.counter|divisibleby:4 %}
        </div><div class="row">
        {% endif %}
        {% endfor %} 
     </div>
    </div>
   
  </div>
  </div>
  
{% endblock %}
