
{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}

       <div class="row" >

    <div class="col-md-6 col-md-offset-3">
        <div class="row">
         <div class="col-md-6"> 
        
         {% if products.image %}
     <img src="{{MEDIA_URL}}{{products.image}}" class="img-responsive"></img>
 {% endif %}
 </div>  
 <div class="col-md-6">
     <h2 class="namedesc">{{ products.name }}</h2>
     <h2 class="pricedesc">€{{ products.price }}</h2>
     
 
   
   <div class="add_cart_form">
      <form action="{% url 'add_to_cart' %}" method="post">
              {% csrf_token %}
              <input type="hidden" id="id" name="id" value="{{products.id}}"/>
              <h2 class="quantdesc">Quantity:</h2><input type="number" id="quantity" name="quantity" value="1" min="1" required/>
             <div class="productdesccartbutton">
               <button type="submit" value="Submit"class="addcartbutton"><div class="addcartbuttondiv">ADD TO CART</div></button>
               </div>
            </form>
            
               
            </div>
            <h2 class="desctitledesc">Description</h2>
       <p class="descdesc">{{ products.description}}</p>
 </div>
    </div>    
         
    
 
             {% include "reviews/_show_reviews.html" %}

              {% if user.is_authenticated %}
              {% include "reviews/_add_review_form.html" %}
              {% endif %}      
            
            
     

          </div>
    </div>
</div>

{% endblock %}        
          
         
          
          
         
 
















   