/*NAVBAR STYLES*/
#nav1{
  margin-bottom:0px;
 
  background:rgba(233,228,223,0.7);
  border:none;
  
}
#nav2{
  
  background:white;
  border-bottom:1px,solid,grey;
}
#ul1 > li > a{
    padding-top:5px !important; padding-bottom:0 !important;
    height: 20px;
    text-align:center;
    color:black;
}
.navbar-default .navbar-nav>li>a{
    color:black;
}
#actions > li > a{
    padding-top:5px !important; padding-bottom:0 !important;
    height: 20px;
    text-align:center;
}
.navbar {min-height:30px !important;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}
.navbar-brand{
    font-family: 'Bungee Outline', cursive;
    font-size:30px;
    margin-right:20px;
}
.navbar-nav{
  font-family: 'Source Sans Pro', sans-serif;
  
  
}

.navbar-right{
     font-family: 'Source Sans Pro', sans-serif;
}
.categories{
    margin-right:50px;
    color:black;
}
.searchform {
    border:none;
    
    background:transparent;
    width:1000px;
}
.searchicon{
    background:transparent;
    border:none;
}
/*NAVBAR RESPONSIVE MEDIA QUERIES*/
@media (min-width: 768px) {#altcollapse{
    display: none;
  }}


@media (min-width: 992px) { #altcollapse{
    display: none;
  }}


@media (min-width: 1200px) {#altcollapse{
    display: none;
  }}
@media (max-width: 575.98px) { #actions{
  display:none;
} }


@media (max-width: 767.98px) {#actions{
  display:none;
}}   
 

#ul1{
    font-style: italic;
    color:black;
}

/*LOGIN AND REGISTER PAGE STYLES*/
.accounts_form_header{
    text-align:center;
}
/*PRODUCT LIST PAGE STYLES*/
.cart_button_div{
     display: flex;
  justify-content: center;
}
.cart_button{
    background:orange;
    border:1px solid black;
    font-size: 20px;

    
}
.cart_button a{
    color:black;
    text-align: center;
    padding:55px;
}
.cart_button a:hover{
    color:black;
    text-decoration: none
}
.cart_name{
    font-size: 15px
}

.cart_price{
    font-size:10px;
}
.filters{
    margin-right:10px;
    
}
.filters a {
    color:black;
    
}
.product_count{
    text-align: right
}
/*HOMEPAGE STYLES*/
.homeimage{
    display: block;
    margin: 0 auto ;
    width:80%;
    padding-top:15px;
    padding-bottom:15px;
}
.newarrivals{
    text-align: center;
     font-family: 'Source Sans Pro', sans-serif;
     margin-bottom: 15px
}
/*PRODUCT DESCRIPTION PAGES */
.prod_desc{
    text-align:center;
    margin-bottom: 10px
}
.add_cart_form{
    margin-top:10px;
}

#quantity{
    width:50px;
}

/*PROFILE PAGE */
.account_info{
    font-size: 20px
}

.profile_nav_div{
    border-right:1px solid grey;
    height:500px;
}
.responsive_profile_nav{
    display:none;
    
}

/*RESPONSIVE PROFILE PAGE*/

@media (max-width: 1052px) { .profile_nav_div{
  display:none;
} 
    .responsive_profile_nav{
    display:inline;
   
    
}
 .responsive_profile_nav .btn {
    display: flex;
    justify-content: center;
    padding: 6px 100px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    

    user-select: none;
    background-image: none;
    border: 1px solid black;
    border-radius: 0px;
}

.responsive_profile_nav .caret {
  display:none;
 }
 
 .responsive_profile_nav .dropdown-menu {
padding-left:100px;
padding-right:40px; 
 }

}


